themes {
    catppuccin-custom {
        fg 205 214 244
        bg 88 91 112
        black 24 24 37
        red 243 139 168
        // change green to red to make the tab background red
        // TODO: Figure out a better way to config this
        green 243 139 168
        yellow 249 226 175
        blue 137 180 250
        magenta 245 194 231
        cyan 137 220 235
        white 205 214 244
        orange 250 179 135
    }
}
